html {
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Oswald', sans-serif;
}

.app {
  max-width: 1000px;
  margin: 50px auto 100px;
}

.app__title {
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
}
